<form class="search search-form" action="/search">
            
    <input class="input-field col s12" type="text" placeholder="Search..." name="q" value="{{ search.terms | escape }}"  />
    <button class="btn-flat  prefix" type="submit"><i class="material-icons">search</i></button>
    <i class="material-icons search-form-close">clear</i>

</form>