<div class="container" style="text-align: center;">
    <h4>{{ 'general.404.title' | t }}</h4>
<p style="margin:20px 0">{{ 'general.404.subtext_html' | t }}</p>
<a href="/" class="btn">Continue Shopping</a>

</div>
